---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const personnes = await getCollection("personnes");
---

<Layout pageTitle="Personnalités">
  <div class="max-w-3xl mx-auto p-6">
    <h1 class="text-3xl font-bold text-center text-gray-800 mb-6">
      Liste des personnalités
    </h1>

    <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      {
        personnes.map((personne) => (
          <li class="bg-white shadow-md rounded-lg p-4 text-center hover:shadow-lg transition-shadow">
            <a
              href={`./personnes/${personne.id}`}
              class="text-lg font-semibold text-blue-600 hover:underline"
            >
              {personne.data.nom}
            </a>
          </li>
        ))
      }
    </ul>
  </div>

  <!-- <pre class="mt-6 p-4 bg-gray-100 rounded-lg text-sm">
        {JSON.stringify(personnes, null, 2)}
    </pre> -->
</Layout>
